/*
 * Amazing animated underline "a" tag effect with responsive
 *
*/
a.amz-undln:before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(148, 14, 32);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0.15s;
  transition: all 0.3s ease-in-out 0.15s;
}
a.amz-undln:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

