/*
 * Three list ul with responsive
 *
*/
ul.three-list {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
	list-style: none;
}

.three-list >* {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
	width: 100%;
}

ul.three-list li {
  position: relative;
  word-break: break-word;
  margin-bottom: 40px;
}

ul.three-list li a{
	border-bottom: 0px;
  display: block;
  height: 270px;
  margin-bottom: 4px;
  background: #eee;
  text-align: center;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

ul.three-list li a:hover {
	border-bottom: 0px;
}

ul.three-list li a:before {
	content: "";
	display: inline-block;
	zoom: 1;
	height: 100%;
	vertical-align: middle;
}

ul.three-list li a img {
	display: inline-block;
	vertical-align: middle;
	max-width: 85%;
	max-height: 99%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-transition: .5s -webkit-transform 0.1s;
	-moz-transition: .5s -moz-transform 0.1s;
	-ms-transition: .5s -ms-transform 0.1s;
	-o-transition: .5s -o-transform 0.1s;
	transition: .5s transform 0.1s;
}

ul.three-list li:hover img{
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}

ul.three-list li h3 {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 100;
	font-family: "Lato",sans-serif;
	margin-bottom: 0px;
}


@media screen and (min-width: 581px) {
  .three-list>* {
      width: 49%;
  }
  .three-list>*:nth-child(2n+1) {
    margin-right: 1%;
  }
  .three-list>*:nth-child(2n+2) {
    margin-right: 1%;
  }
}

@media screen and (min-width: 1040px) {
  .three-list>* {
      width: 32%;
  }

	.three-list> *:nth-child(2n+1), .three-list>*:nth-child(2n+2) {
    margin-left: 0;
    margin-right: 0;
  }
	.three-list>*:nth-child(3n+2) {
		margin-left: 2%;
		margin-right: 2%;
	}

}

